
@{
    ViewBag.Title = "MainPage";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <title>Cinemaddict - Главная страница</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet">*@
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/solar.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Images/Logo-1.jpg" type="image/png" rel="icon" />

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>
    <div class="container-fluid">
        <div class="row borders-b filling-b l-r">
            <div class="col-md-2">
                <a href='@Url.Action("MainPage", "MainPage")'><img class="logo" alt="Логотип Cinemaddict" src="~/Images/Logo-1.jpg"></a>
            </div>
            <div class="col-md-8">
                <ul class="nav nav-pills">
                    <li><a href='@Url.Action("SchedulePage", "SchedulePage")'>Расписание</a></li>
                    @if (Session["session_user_nickname"].ToString() != "N/A")
                    {
                        <li><a href='@Url.Action("PersonalPage", "PersonalPage")'>Личный кабинет</a></li>
                    }
                    else
                    {
                        <li><a href='@Url.Action("EntryPage", "EntryPage")'>Личный кабинет</a></li>
                    }
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Акции и скидки</a></li>
                    <li><a href="#">О кинотеатре</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>

            </div>
            <div class="col-md-2">
                @if (Session["session_user_nickname"].ToString() != "N/A")
                {
                    <p>Вы авторизованы как @Session["session_user_nickname"]</p>
                }
                else
                {
                    <p>Вы не авторизованы</p>
                }
            </div>
        </div>
        <div>
            @if (Session["session_user_checker"].ToString() == "True")
            {
                <div class="col-md-10"></div>
                <div class="col-md-2">
                    <a class="btn btn-default center-block" href='@Url.Action("AddMoviePage", "AddMoviePage")' role="button">Добавить фильм</a>
                </div>
            }
        </div>
        <div class="row bottom l-r">
            @foreach (WebApplication1.Models.Movies m in Model)
            {
                <div class="col-md-2 borders-b" style="margin-top: 20px;">
                    <div class="row">
                        <div class="col-md-12">
                            <a href='@Url.Action("MoviePage", "MoviePage", new { cur_movie = m.ID_Movie })'><img class="poster" alt="@m.Name" src="@m.Poster"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href='@Url.Action("MoviePage", "MoviePage", new { cur_movie = m.ID_Movie })'>@m.Name</a>
                        </div>
                    </div>
                    @if (Session["session_user_checker"].ToString() == "True")
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <a href='@Url.Action("EditMoviePage", "EditMoviePage", new { id = m.ID_Movie })'>Редактировать</a> | 
                                <a href='@Url.Action("DeleteMoviePage", "DeleteMoviePage", new { id = m.ID_Movie })'>Удалить</a>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="row bottom l-r">
            <div class="col-md-12 bottom filling-o copyright">
                <p>Copyright &copy; 2017</p>
            </div>
        </div>
    </div>
</body>
</html>

